<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>com.sunset.schedule</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>sunset-schedule</string>
        <string>sunset-schedule-dev</string>
      </array>
    </dict>
  </array>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>We need your location to search for places near you on Google Maps.</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>We need your location to search for places near you on Google Maps.</string>
</dict>
</plist>
